body{
	background-color: #CCC;
	margin: 0;
	color: #730000;
	font-family: "Apple Chancery";
	font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: SignPainter;
	text-transform: uppercase;
}
h1{
	font-size: 65px;
}
h2 {
	font-size: 34px;
}

header{
	background-color: #CCAD55;
	width: 700px;
	height: 150px;
	min-width: 700px;
    left:0;
    right:0;
    margin:0 auto;

}
a.logo {
	position: relative;
	display: inline-block;
	display: inline-block;
	margin: auto;
	width: 25%;
	height: 100%;
}
a.logo:after {
  content: ""; 
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left:0;
}
.logo object{
	height: 100%;
}
#index{
	display: inline-block;
	width: 70%;
	height: 100%;
	vertical-align: top;
}
#index object {
	display: block;
	height: 100px;
	width: 100%;
	margin: 0;
}
#index nav {
	display: block;
	margin: 0 auto;
	padding: 0;
	width: 90%;
	height: 50px;
}
#index ul{
	padding: 0;
	margin: 0;
}
#index ul li{
	margin-left: 10px;
	margin-bottom: 0;
	width: 30%;
}
#index a{
	text-align: center;
	text-decoration: none;
	height: 22px;
	display: block;
	color: inherit;
	padding: 16px 0 12px 0;
	background-color: orange;
	margin-bottom: 0;
}
#index a:hover{
	background-color: #F90;
}
#index a.selected{
	border-top: solid red 5px;
	padding-top: 11px;
}

main {
	width: 70%;
	margin: 0 auto;
	min-width: 700px;
	padding: 10px;
}



table {
	margin: 0 auto;
	border-spacing: 6px;
	width: 95%;
	/*border: solid thin #730000;*/
}
th {
	background-color: #FFBD20;
	height: 40px;
}
th>h2 {
	margin: 5px;
}
table#promo td {
	width: 30%;
}
table#promo td>img {
	width: 95%;
	margin: auto auto;
}

.article {
	background-color: #EEE;
	margin: 5px auto 20px auto;
	width: 95%;
	padding: 5px;
	border-top-style: solid;
	border-top-width: thin;
	border-right-style: solid;
	border-right-width: medium;
	border-color: #730000;
}
.article > p {
    text-indent: 50px;
	margin: 0 0 0 65px;
}
.article h2 {
	margin-bottom: 10px;
}
.article ul {
	list-style-type: none;
	list-style-position: inside;
}
.article object {
	border: solid #730000 thin;
	width: 90%;
	padding: 10px;
	margin: 5px 20px;
}
ul.neg, ul.pos {
	list-style-position: outside;
}
ul.neg li:before {
	content: "-	";
}
ul.pos li:before {
	content: "+	";
}


.courriel{
    padding-top:25px;
}
#infolettre {
        font-size:0.85em;
        line-height:125%;
        font-family:SignPainter
}

form input {
    margin-top:5px;
}



.mail {
    width:60px;
    margin-top:20px;
    padding-left:85px;
    padding-right:10px;
    padding-bottom:10px;
    float:left;
}

.numtel {
    font-family:SignPainter;
    float: right;
    color:white;
}


/*Style Footer*/

footer {
	background-color:#262626;
	margin: 0;
	width: 100%;
	height: 100px;
	color: #555;
	min-width: 700px;
	font-family: "Times New Roman";
	font-size: 18px;
	padding-bottom: 10px;
}
footer a {
	text-decoration: none;
	color: inherit;
}
footer div {
	display: inline-block;
}
footer nav {
	float: left;
	display: inline-block;
	width: 200px;
	margin-left:10px;
	height: 80px;
}
footer ul {
	list-style-type: none;
	padding: 0;
}
footer #info {
	width: 100%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	height: 20px;
}
footer #social {
	float: right;
	width: 200px;
	margin-right: 10px;
	height: 80px;
}

footer #social img{ 
    padding:5px;
    width: 35px;
    float:right;
}




/*Style Menu*/


.menu_nav {
    font-size:1.5em;
    list-style-type:none;
    margin:0;
    padding:0;
    width:15%;
    position:fixed;
    height:100%;
}

.menu_nav > li a {
    display:block;
    padding:1.5px;
}

#menu {
    margin-left:25%;
}

.menu_nav > li a:link {color:black; background-color:#CCC; text-decoration:none;}
.menu_nav > li a:visited{color:black; background-color:#CCC; text-decoration:none;}
.menu_nav > li a:hover{color:black; background-color:orange; text-decoration:none;}
.menu_nav > li a:active{color:black; background-color:orange; text-decoration:none;}

.img_menu {
    width:250px;
    background-color:white;
}

.menu_nav h2{
    font-weight:bold;
    margin: 0;
    padding-left: 5px;
}

/*Style Localiser*/


#grossesroches {
        font-family:SignPainter;
}

#map {
    height:325px
}

svg.couleur {
	width: 60px;
	height: 60px;
}
svg.couleur rect {
	stroke: black;
	stroke-width: 3px;
}
ul.horizontal {
	list-style-type: none;
	overflow: hidden;
}
ul.horizontal li {
	display: inline-block;
}

@media (max-width: 1024px) {
	body {
		font-size: 18px;
		min-width: 530px;
	}
	header {
		width: 100%;
		height: 80px;
	}
	h1{
		font-size: 40px;
	}
	h2 {
		font-size: 28px;
	}
	
	a.logo {
		width: 100px;
		padding-left: 5%;
		margin-right: 5%;
	}
	#index object {
		height: 52px;
		margin-left: 0;
	}
	#index nav {
		height: 28px;
	}
	#index a {
		height: 28px;
		padding: 0;
	}
	#index a.selected {
		padding: 0;
		border-style: none;
		background-color: #F90;
	}
	#index ul li {
		margin-left: 0;
	}
	
	main {
		width: 98%;
		min-width: inherit;
		padding: 1%;
	}
	table {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		height: auto;
	}
	
	#map, form {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}
	
	.menu_nav {
		font-size: inherit;
	}
	#menu {
		margin-left: 20%;
	}
}